/* CSS Reset Erica Meyera */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 80%;
  font: inherit;
  vertical-align: baseline;
}

html {
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: #F5F5F5;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #329C37;
  color: #FFF;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 2;
  left: 15%;
  bottom: 100px;
  transform: translateX(-50%);
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  bottom:100px;
}

.btn-main{
    background-color: #0a4275 !important;
    color: white;
    border-color: #0a4275;
    transition: transform .2s;
}

.btn-main:hover {
    border-color: white;
    color:white;
    transform:scale(1.1);
}

.btn-main:focus {
    box-shadow: 0 0 0 0.50 rem rgba(10, 66, 177, .25) !important;
}

.list-county{
    display:inline;
}

.back-button{
    color: #0a4275;
    border-color: #0a4275;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid #0a4275;
    border-radius: 30%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    transition: transform .2s;
}

.back-button: hover{
    background-color: #0a4275;
    color:white;
    transform:scale(1.2);
}

.background-login {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: #0a4275;
    border-bottom: 1px solid rgba(0,0,0,.125);
    color:white;
}

.btn-menu {
    color: #0a4275;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid #0a4275;
    border-radius: 15px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    transition: transform .2s;
}

.btn-menu:hover {
    color: white;
    background-color: #0a4275;
    border: 1px solid #0a4275;
}

.btn-menu-reverse {
    color: white;
    display: inline-block;
    background-color:#08335C;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid #08335C;
    border-radius: 15px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    transition: transform .2s;
}

.btn-menu-reverse:hover {
    color: #08335C;
    background-color: white;
}


.custom-icon {
    font-size: 20px; /* Możesz dostosować ten rozmiar do swoich potrzeb */
}

.mb-footer{
    margin-bottom: 5rem;
}

.color-sea{
    color:#37638C !important
}

.form-control:focus {
    color: #212529;
    background-color: white;
    border-color: white;
    box-shadow: 0 0 0 0.25rem rgb(7, 137, 194, 50%);
}

.table-caption{
    caption-side: top;
}
.title-caption{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

caption {
    font-size:1rem;
}

.page-item.active .page-link{
    background-color: #0a4275!important;
    border-color: white!important;
}

.link-control {
padding: 2px 10px;
    border: 1px solid #0C4982;
    color: #051E36;
    border-radius: 5px;
    text-decoration: none;

}

.link-control:hover {
    padding: 2px 10px;
    border: 1px solid #0C4982;
    background-color: #0C4982;
    color: white;
    border-radius: 5px;
    text-decoration: none;

}

.btn-search{
    color: #0a4275;
    border-color: #0a4275
}

.btn-search:hover{
    background-color: #0a4275;
    border-color:white;
}
.btn-search.active{
    background-color: #0a4275;
    border-color:white;
}

.btn-archive{
    background-color: #754D0B !important;
    color: white;
    border-color: #754D0B;
    transition: transform .2s;
}

.btn-archive:hover {
    border-color: white;
    color:white;
    background-color: #C27800 !important;
    transform:scale(1.1);
}

.btn-archive:focus {
    box-shadow: 0 0 0 0.50 rem rgba(10, 66, 177, .25) !important;
}

.d-flex.hidden{
    display:none !important;
}

.btn-delete {
    color: #fff;
    background-color: #A84F20;
    border-color: #A84F20;
    }

.btn-delete:hover{
   color: #fff;
   background-color: #C2A625;
   border-color: #C2A625;
 }

.bold{
    font-weight: bold !important
}

.small-list{
    list-style: none;
}

.select2-container .select2-selection--single{
    height: 40px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height:38px !important;
}

.info-color {
    color: white;
    background-color: rgb(15,91, 163,64);
    padding: 4px;
    margin: 0 3px;
    border-radius: 3px;
}

.color-table {
    background-color: #4C89C2 !important;
    color: white;
}

.footer-sum{
    background-color: rgb(11,66 ,117,46);
    color: white;
    vertical-align: middle !important;
    font-weight: 600;
}

.table-vertical{
    vertical-align: middle;
}

.btn-edit{
    color: white;
    background-color: rgb(5,117,112,46);
    border-color: rgb(5,117,112,46);
}

.btn-edit:hover{
    color: #fff;
    background-color: #C2A625;
    border-color: #C2A625;
}

.navbar-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #000; /* Kolor tła menu */
    }

/* Stylizacja pionowego paska przewijania */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(11,117,112,46);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Stylizacja poziomego paska przewijania (opcjonalna) */
::-webkit-scrollbar-horizontal {
    height: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
    background: #888;
}

/* Usunięcie paska przewijania na elementach textarea (opcjonalne) */
textarea::-webkit-scrollbar,
textarea::-webkit-scrollbar-thumb {
    width: 0;
    background: transparent;
}
/*-------------------------------------------------*/
.font-size{
    font-size: 15px;

}

.z-index-nav{
    z-index:5;
}
