{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load bootstrap %}
{% block content %}
{% if user.is_authenticated %}
<div class="container pt-5">
    <div class="row mb-4">
        <div class="col-sm-1 col-md-1 col-lg-2 d-flex align-items-center">
            <a href="{% url 'invoices:editInvoice' invoiceSlug %}" class="btn-menu">
                <span class="bi bi-arrow-90deg-left custom-icon"></span>
            </a>
        </div>
        <div class="col-sm-10 col-md-10 col-lg-8">
            <div class="text-center">
                <h5 class="h5 m-0 font-weight-bold text-uppercase">
                    {% if new %}
                    Nowa faktura
                    {% else %}
                    {{invoice}}
                    {% endif %}
                </h5>
            </div>
        </div>
        <div class="col-sm-1 col-md-1 col-lg-2 d-flex align-items-center justify-content-end">
            <a href="{% url 'main:welcome' %}" class="btn-menu" data-toggle="info" title="Zapisz">
                <span class="bi bi-save2 custom-icon"></span>
            </a>
        </div>
    </div>
    <div class="d-flex justify-content-around my-2">
        <div class="py-1">
            <span class="text-muted">Termin płatności: </span><span>{{invoice.date_of_payment}} r.</span>
        </div>
        <div class="py-1">
            <span class="text-muted">Kwota faktury: </span>
            <span class="bold">{% if invoice.sum %}{{invoice.sum|intcomma}} {%else%} 0 {% endif %} zł</span>
        </div>
    </div>
</div>
<div class="row m-0">
    <div class="col-md-2 text-center">
        <div class="border border-secondary p-3 rounded bg-light">
            <h6 class="h5"> Suma Rozdziałów </h6>
            {% for county in countiesSum %}
            {% if county.county%}
            <div class="my-2">{{county.county}} - {{county.sum|intcomma}} zł.</div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="col-md-8">
        <form method="POST">
            {% csrf_token %}
            <div class="row mb-1 d-flex justify-content-center">
                <div class="col-sm-12 col-md-12 col-lg-10 mb-1">
                    {{form.unit|bootstrap}}
                </div>
            </div>
            <div class="row mb-1 d-flex justify-content-center">
                <div class="col-sm-12 col-md-12 col-lg-2 mb-1">
                    {{form.contract_types|bootstrap}}
                </div>
                <div class="col-sm-4 col-md-4 col-lg-6 mb-1">
                    {{form.paragraph|bootstrap}}
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2 mb-1">
                    {{form.sum|bootstrap}}
                </div>
            </div>
            <div class="row mb-1 d-flex justify-content-center">
                <div class="col-sm-4 col-md-4 col-lg-2 mb-1">
                    {{form.period_from|bootstrap}}
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2 mb-1">
                    {{form.period_to|bootstrap}}
                </div>
                <div id="divMeasurementSystemNumber" class="col-sm-4 col-md-4 col-lg-2 mb-1" hidden>
                    {{form.measurementSystemNumber|bootstrap}}
                </div>
                <div id="divCounterReading" class="col-sm-4 col-md-4 col-lg-2 mb-1" hidden>
                    {{form.counterReading|bootstrap}}
                </div>
                <div id="divConsumption" class="col-sm-4 col-md-4 col-lg-2 mb-1" hidden>
                    {{form.consumption|bootstrap}}
                </div>
            </div>
            <div class="row d-flex justify-content-center my-2">
                <div class="col-sm-10 col-md-10 col-lg-10">
                    <i id="dataInfo" class="bi bi-info-square" hidden></i>
                </div>
            </div>
            <div class="row mb-1 d-flex justify-content-center">
                <div class="col-lg-8 mb-2">
                    {{form.information|bootstrap}}
                </div>
                <div class="col-lg-2 mb-2 d-flex align-items-end justify-content-end">
                    <button type="submit" class="btn btn-main d-inline" data-toggle="info" title="Dodaj"
                            onclick="snackbarFunction()">
                        <i class="bi bi-plus-circle custom-icon"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="mt-3 px-2">
    <table class="table table-striped table-hover table-caption">
        <caption class="title-caption py-2">
            <h5 class="bold">Elementy faktury</h5>
        </caption>
        <thead class="color-table">
        <tr class="text-center">
            <th align="center" valign="middle" scope="col">
                <span>Jednostka</span>
            </th>
            <th align="center" valign="middle" scope="col">
                <span>Konto</span>
            </th>
            <th align="center" valign="middle" scope="col">
                <span>Okres rozliczeniowy</span>
            </th>
            <th align="center" valign="middle" scope="col">
                <span>Rodzaj umowy</span>
            </th>
            <th align="center" valign="middle" scope="col">
                <span>Nr. licznika</span>
            </th>
            <th align="center" valign="middle" scope="col">
                <span>Stan licznika</span>
            </th>
            <th align="center" valign="middle" scope="col">
                <span>Zużycie</span>
            </th>
            <th align="center" valign="middle" scope="col">
                <span>Kwota</span>
            </th>
            <th align="center" valign="middle" scope="col">
                <span>Uwagi</span>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
            <td align="left" valign="middle" width="30%" scope="col">
                {{item.unit.type.type_short}} {{item.unit.address}}, {{item.unit.city}} {% if item.unit.object_name %}-
                {{item.unit.object_name}} {% endif %}
            </td>
            <td align="center" valign="middle" scope="col">
                <span data-toggle="info" title="{{item.paragraph.name}}">{{item.section.section}} - {{item.group.group}} - §{{item.paragraph.paragraph}}</span>
            </td>
            <td align="center" valign="middle" scope="col">
                {% if item.period_from and item.period_to %}
                {{item.period_from}} - {{item.period_to}}
                {% endif %}
            </td>
            <td align="center" valign="middle" scope="col">
                {% if item.contract_types %}
                {{item.contract_types}}
                {% endif %}
            </td>
            <td align="center" valign="middle" scope="col">
                {% if item.measurementSystemNumber %}
                {{item.measurementSystemNumber}}
                {% endif %}
            </td>
            <td align="center" valign="middle" scope="col">
                {% if item.counterReading%}
                {{item.counterReading}}
                {% endif %}
            </td>
            <td align="center" valign="middle" scope="col">
                {% if item.consumption %}
                {{item.consumption}}
                {% endif %}
            </td>
            <td align="right" valign="middle" scope="col">
                {{item.sum|intcomma}} zł
            </td>
            <td align="left" valign="middle" width="20%" scope="col">
                {% if item.information %}
                {{item.information}}
                {% endif %}
            </td>
            <td data-toggle="info" title="Usuń">
                <a href="{%url 'invoices:deleteInvoiceItem' invoice.slug item.id %}"
                   onclick="return confirm('Czy na pewno chcesz usunąć?')">
                    <i class="bi bi-trash3 btn btn-delete"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function(){
         $("#id_unit").select2({placeholder:'Wybierz jednostkę'});
    });

    var paragraph = document.getElementById("id_paragraph");

    paragraph.addEventListener('change', function() {
        var selectedElement = paragraph.options[paragraph.selectedIndex];
        var checkPar = selectedElement.textContent.substring(0, 4);

        var measurementSystemNumber = document.getElementById("divMeasurementSystemNumber");
        var counterReading = document.getElementById("divCounterReading");
        var consumption = document.getElementById("divConsumption");
        var information = document.getElementById("dataInfo");



        if (checkPar === "4260") {
            information.removeAttribute('hidden');
            measurementSystemNumber.removeAttribute('hidden');
            counterReading.removeAttribute('hidden');
            consumption.removeAttribute('hidden');

        } else if (checkPar === "4210") {
            var labelConsumption = document.querySelector('label[for="id_consumption"]');
            if (labelConsumption){
                labelConsumption.textContent = "Ilość surowca";
            };
            consumption.removeAttribute('hidden');
            console.log(labelConsumption.value);
            measurementSystemNumber.setAttribute('hidden', 'true');
            counterReading.setAttribute('hidden', 'true');
            information.setAttribute('hidden', 'true');

        } else {
            measurementSystemNumber.setAttribute('hidden', 'true');
            counterReading.setAttribute('hidden', 'true');
            consumption.setAttribute('hidden', 'true');
            information.setAttribute('hidden', 'true');
        }


    });

    var daneJS = "{{ measurementData|escapejs }}";
    var x = daneJS.replace(/'/g, '"');
    var dataObject = JSON.parse(x);

    var unit = document.getElementById("id_unit");
    var unitSelected = unit.addEventListener('change', function() {
        var selectedUnit = unit.value;
        var selectedUnitext = unit.options[unit.selectedIndex].text;
        console.log("Wybrany unit: " + selectedUnitext);
    });

    var type = document.getElementById("id_contract_types");
    var typeSelect = type.addEventListener('change', function() {
        var typeText = type.options[type.selectedIndex].text;
        console.log("Wybrany type: " + typeText);
    });

    var paragraphSelect = paragraph.addEventListener('change', function() {
        var selectedElement = paragraph.options[paragraph.selectedIndex];
        var parText = selectedElement.text;
        var checkParagraph = parText.substring(0, 7);
        console.log("Wybrany paragraph: " + checkParagraph);
    });

    function checkData(){
        $(dataObject).each(function(i, element) {
            if( element.unit_id == unit.value) {
                var elementData = element.data;
                var information = document.getElementById("dataInfo");
                for (let y = 0; y < elementData.length; y++ ){
                    if(elementData[y].type === type.options[type.selectedIndex].text && elementData[y].par === paragraph.options[paragraph.selectedIndex].text.slice(0,7)){
                        var measureData = document.getElementById("id_measurementSystemNumber");
                        if(measureData){
                        information.removeAttribute('hidden');
                        information.textContent = " Ostatni okres rozliczeniowy: " + elementData[y].period + ", " + "stan licznika:"+ elementData[y].counterReading;
                        measureData.value = elementData[y].measurement;

                        };
                    }else{
                    var measureData = document.getElementById("id_measurementSystemNumber");
                    measureData.value = "";
                    information.setAttribute('hidden', 'true');
                    };
                };
            };
        });
    };

    $('#id_unit').on('change', function(){
        var unit = document.getElementById("id_unit");
        var selectedUnit = unit.options[unit.selectedIndex].value;
        if(selectedUnit && dataObject[selectedUnit - 1].data.length != 0 ){
            console.info("Wartości dla: "+ unit.options[unit.selectedIndex].text);
            console.table(dataObject[selectedUnit - 1].data);
        } else {
            console.log("brak danych dla: " + unit.options[unit.selectedIndex].text);
        };
        checkData();
    });

    $('#id_contract_types').on('change', function(){
        checkData();
    });

    $('#id_paragraph').on('change', function(){
        checkData();
    });
</script>
{% endif %}
{%endblock%}