{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<script type="text/javascript">
    function openInvoiceInfoModal(button){
        var url = $(button).data("url");
        $("#invoiceInfoModal .modal-content").load(url);
        $("#invoiceInfoModal").modal("show");
    }
    function openArchiveModal(button){
        var url = $(button).data("url");
        $("#archiveModal .modal-content").load(url);
        $("#archiveModal").modal("show");
    }
</script>
{% endblock %}