{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
  <div class="container pt-5">
    {% if not user.is_authenticated %}
      <div class="text-center mb-4">
        <span class="h3 font-weight-bold text-uppercase">Karty Obiektów Wielkopolskiej Policji</span>
      </div>
    {% endif %}
    <div class="row mb-1">
      <div class="col-sm-3 col-md-2 col-lg-2">
        <a href="{% url 'main:unitCountyMain' countyCardSlug %}" class="btn-menu"><span class="bi bi-arrow-90deg-left custom-icon"></span></a>
      </div>
      <div class="col-sm-6 col-md-8 col-lg-8 d-flex align-items-center justify-content-center">
        <div>
          <h5 class="h5 m-0 font-weight-bold">{{ unit }}</h5>
        </div>
      </div>
      <div class="col-sm-3 col-md-2 col-lg-2 d-flex justify-content-end">
        <div class="mx-2">
          <a class="btn-menu" href="{% url 'main:unitDetailsInfo' unit.slug %}" data-toggle="info" title="Wydatki"><i class="bi bi-bank custom-icon"></i></a>
        </div>
        <div class="mx-2">
          <a class="btn-menu" data-url="{% url 'main:archiveYearsUnitMain' unit.slug %}" onclick="openArchiveModal(this)" data-toggle="info" title="Archiwum wydatku"><i class="bi bi-archive-fill custom-icon"></i></a>
        </div>
        {% if user.is_authenticated and user_belongs_to_admin_group %}
          <div class="mx-2">
            <a class="btn-menu" href="{% url 'units:editUnit' unit.slug %}" data-toggle="info" title="Edytuj"><i class="bi bi-pencil-square custom-icon"></i></a>
          </div>
          <div class="mx-2">
            <a class="btn-menu" href="{% url 'invoices:newInvoice' %}" data-toggle="info" title="Nowa faktura"><i class="bi bi-plus-circle custom-icon"></i></a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="text-center mb-2">
    {% if unit.object_name %}
      <h5 class="h5 mb-0">{{ unit.object_name }}</h5><br />
    {% endif %}
    <h6 class="h6 my-0">Administrator obiektu: <span>{{ unit.manager }}</span></h6>
    {% if unit.information %}
      <p>Informacje: {{ unit.information }}</p>
    {% endif %}
  </div>
  <div class="text-center text-uppercase my-2">
    Dokumenty wystawione w <span class="info-color">{{ year }}</span> roku
  </div>
  <div class="m-3">
    {% for paragraph_info in paragraph_data %}
      {% if paragraph_info.items %}
        <table class="table table-striped table-hover table-caption mb-5 font-size">
          <caption class="title-caption py-2">
            <a href="{% url 'main:unitCostList' unit.county_unit.slug unit.slug paragraph_info.paragraph.slug year %}" class="btn-menu-reverse" data-toggle="info" title="Lista faktur: {{ year }}"><span>§ {{ paragraph_info.paragraph.paragraph }} - {{ paragraph_info.paragraph.name }}</span></a>
          </caption>
          <thead class="table-dark">
            <tr class="text-center">
              <th align="center" valign="middle" width="200" scope="col">Data wypływu</th>
              <th align="center" valign="middle" width="200" scope="col">Data dokumentu</th>
              <th align="center" valign="middle" width="auto" scope="col">Nr. dokumentu</th>
              <th align="center" valign="middle" width="200" scope="col">Rodzaj dokumentu</th>
              <th align="center" valign="middle" width="200" scope="col">Rodzaj umowy</th>
              <th align="center" valign="middle" width="200" scope="col">Kwota</th>
              <th align="center" valign="middle" width="auto" scope="col">Informacja</th>
              <th align="right" valign="middle" width="auto" scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for item in paragraph_info.items %}
              <tr>
                <td align="center" valign="middle" width="auto" scope="col">{{ item.date_receipt }}</td>
                <td align="center" valign="middle" width="auto" scope="col">{{ item.date }}</td>
                <td align="left" valign="middle" width="auto" scope="col">{{ item.no_invoice }}</td>
                <td align="center" valign="middle" width="auto" scope="col">{{ item.doc_types }}</td>
                <td align="center" valign="middle" width="auto" scope="col">{{ item.contract_types }}</td>
                <td align="right" valign="middle" width="auto" scope="col">{{ item.sum|intcomma }} zł</td>
                <td align="left" valign="middle" width="auto" scope="col">{{ item.information|default_if_none:'' }}</td>
                <td align="right" valign="middle" width="auto" scope="col">
                  <a class="btn-menu" data-url="{% url 'main:infoInvoice' item.id %}" onclick="openInvoiceInfoModal(this)"><i class="bi bi-eye"></i></a>
                </td>
                <!-- Dodaj inne wybrane propertisy tutaj -->
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    {% endfor %}
  </div>
  <!-- Modal -->
  <div class="modal fade" id="invoiceInfoModal">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
  <div class="modal fade" id="archiveModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
  <script type="text/javascript">
    function openInvoiceInfoModal(button) {
      var url = $(button).data('url')
      $('#invoiceInfoModal .modal-content').load(url)
      $('#invoiceInfoModal').modal('show')
    }
    
    function openArchiveModal(button) {
      var url = $(button).data('url')
      $('#archiveModal .modal-content').load(url)
      $('#archiveModal').modal('show')
    }
  </script>
{% endblock %}
