{%load static%}
{%block content%}
<form class="p-4" method="GET" action="{% url 'main:showHelpModal'%}">
    {%csrf_token%}
    <div>
        <h3 class="bi bi-info-square-fill text-center"></h3>
        <h4 class="text-center mt-1">Komenda Wojewódzka Policji w Poznaniu<br> Wydział Inwestycji i Remontów</h4>
    </div>
    <p class="mt-3 text-justify">{{text.info}}</p>

    <p class="text-center mb-2 mt-3">Zgłaszanie błędów aplikacji oraz <span class="color-span" data-toggle="info" title="Pytania i odpowiedzi">Q&A</span></p>
    <ul class="list-group my-1 text-center">
        <li class="list-group my-1">email: {{content.authorEmail}}</li>
        <li class="list-group my-1">telefon: {{content.authorPhone}}</li>
    </ul>
</form>
<div class="m-0 py-2 text-center bg-author text-light">
    <span data-toggle="info">{{mainEnco}}</span>
</div>
<script>
    $(function () {
        $('[data-toggle="info"]').tooltip()
    })
</script>
{%endblock%}

