{% load static %}
{% load humanize %}
{% block content %}
<div class="m-2">
    <div>
        <h5 class="h5 text-center">Archiwum</h5>
    </div>
    {% if unitCost %}
    <form class="" method="GET" action="{% url 'main:archiveYearsUnitCost' slugCounty  %}">
        {%csrf_token%}
        {% for year in years%}
        <a href="{% url 'main:countyCostUnit' slugCounty year %}" class="btn-menu m-2">{{year}}</a>
        {% endfor %}
    </form>
    {%else%}
    <form class="" method="GET" action="{% url 'main:archiveYears' unitSlug paragraphSlug %}">
        {%csrf_token%}
        {% for year in years%}
        <a href="{% url 'main:unitCostList' countySlug unitSlug paragraphSlug year%}" class="btn-menu m-2">{{year}}</a>
        {% endfor %}
    </form>
    {%endif%}
</div>
{%endblock%}

