{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="container pt-5">
    <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <a href="{% url 'main:welcome' %}" class="btn-menu">
                <span class="bi bi-arrow-90deg-left custom-icon"></span>
            </a>
        </div>
        <div class="">
            <div class="text-center">
                <h5 class="h5 m-0 font-weight-bold text-uppercase">Faktury</h5>
            </div>
        </div>
        <div>
            <a class="btn-menu" href="{% url 'invoices:newInvoice' %}" data-toggle="info" title="Nowa faktura">
                <i class="bi bi-plus-circle custom-icon"></i>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="w-100 pb-4 d-flex justify-content-center align-items-center flex-column text_center">
        <form id="form-search" method="get">
            <div class="input-group">
                <input name="q" id="q" type="text" class="form-control rounded" placeholder="szukaj faktury"
                       aria-label="Search" aria-describedby="search-addon">
                <button type="submit" class="btn btn-outline-primary btn-search">{{query}}{{search}}</button>
            </div>
        </form>
    </div>
</div>

<div>
    {%for invoice in invoices%}
    <span>{{invoice}}</span><br>
    {%for item in invoice.items.all%}
    <span>{{item}}</span><br>
    {%endfor%}
    <br>
    {%endfor%}
</div>
{%endblock%}
