{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="container pt-5">
    <div class="row mb-4">
        <div class="col-sm-1 col-md-1 col-lg-2 d-flex align-items-center">
            <a href="{% url 'main:unit_county_main' slug %}" class="btn-menu">
                <span class="bi bi-arrow-90deg-left"></span>
            </a>
        </div>
        <div class="col-sm-10 col-md-10 col-lg-8">
            <div class="text-center">
                <h5 class="h5 m-0 font-weight-bold">{{unit}}</h5>
            </div>
        </div>
    </div>
</div>
{%endblock%}
