{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container pt-5">
    <div class="text-center mb-4">
        <span class="h3 font-weight-bold text-uppercase">Karty Obiektów Wielkopolskiej Policji</span>
    </div>
    {% if user.is_authenticated %}
    <div class="d-flex justify-content-around mb-3">
        <div>
            <a class="btn-menu" href="{% url 'invoices:newInvoice' %}" data-toggle="info" title="Nowa faktura">
                <i class="bi bi-plus-circle custom-icon"></i>
            </a>
        </div>
        <div>
            <a class="btn-menu" href="{% url 'units:newUnit' %}" data-toggle="info" title="Nowa jednostka">
                <i class="bi bi-building-add custom-icon"></i>
            </a>
        </div>
    </div>
    {% endif %}
    <div class="row">
        {% for county in counties %}
        <div class="col-lg-2 col-md-3 col-sm-4 my-3 text-center ">
            <a href="{% url 'main:unitCountyMain' county.slug %}" class="btn btn-main d-block">{{ county }}</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
