{% load static %}
{% block content %}

{%csrf_token%}
<div class="container">
    <h6 class="text-center my-4"> Wydział Inwestycji i Remontów KWP w Poznaniu</h6>
    <h2 class="bi bi-fingerprint text-center"></h2>
    <form method="POST" autocomplete="off" action="{% url 'main:loginApp' %}">
        {%csrf_token%}
        <div class="form-group">
            <span>{{form.username.label}}</span><span>(ID)</span>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group mt-2">
            <span>{{form.password.label}}</span>
            <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-outline-primary mt-4 col-12 my-btn">
            <span class="bi bi-box-arrow-in-left icon-size h6">Zaloguj</span>
        </button>
    </form>
</div>
{% endblock %}